@import "tailwindcss";
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito-italic";
        src: url("src/assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Nunito";
        src: url("src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
    }


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    :root {
        background-color: var(--color-peach);
        --COLOR-BUTTON_CLICKED: hsl(15 87% 42%);
        --COLOR-TEXT: hsl(6 59% 10%);
        --COLOR-ORANGE: hsl(30 60% 30%);
        --COLOR-GREY: hsl(0 0% 80%);
        --RADIUS-BUTTON: 40px;
        --RADIUS-CARD: 15px;
        --HEIGHT-BUTTON: 2.8rem;
        --WIDTH-ADD-TO-CART: clamp(150px, 30%, 200px);
        --SIZE-TRANSFORMS-ON-HOVER: 1.07;
        list-style: none;
        font-family: Nunito, sans-serif;
        color: var(--color-darkgreen);
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
    button {
        cursor: pointer;
    }


    input, button, textarea, select {
        font-size: 1rem;
        font-style: inherit;
        border: 1px solid transparent;
        color: black;
    }

    @theme {
    --color-peach: hsl(48 22% 95%);
    --color-darkgreen: hsl(170 45% 16%);
    --color-lightgreen: hsl(150 11% 89%);
    --breakpoint-2lg: 90rem;

    }
}

