/*Hosting Fonts Locally*/
@layer global {

    @font-face {
        font-family: "RedHatText-italic";
        src: url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "RedHatText";
        src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    :root {
        --COLOR-BACKGROUND: hsl(26 54% 97%);
        --COLOR-BUTTON_CLICKED: hsl(15 87% 42%);
        --COLOR-TEXT: hsl(6 59% 10%);
        --COLOR-ORANGE: hsl(30 60% 30%);
        --COLOR-GREY: hsl(0 0% 80%);
        --RADIUS-BUTTON: 40px;
        --RADIUS-CARD: 15px;
        --HEIGHT-BUTTON: 2.8rem;
        --WIDTH-ADD-TO-CART: clamp(150px, 30%, 200px);
        list-style: none;
        font-family: RedHatText, sans-serif;
        color: white;
        * {
            /*outline: 1px solid blue;*/
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .desktop {
        display: none;
    }

    input, button, textarea, select, .card {
        font-size: 1rem;
        font-style: inherit;
        /*border: 1px solid transparent;*/
        /*background-color: transparent;*/
        color: black;
    }
}


@layer desserts {
    .tablet, .desktop {
        display: none
    }

    .container {
        display: grid;
        grid-template-columns: 1fr min(calc(100% - 100px), 1200px) 1fr;
        background-color: var(--COLOR-BACKGROUND);
        height: 100vh;
        overflow: scroll;
        > * {
            grid-column: 2;
        }

    }

    .container_main{
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
    }

    .dark {
        font-weight: 600;
        color: var(--COLOR-TEXT);
    }

    .heading {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
        /*margin: 1.5rem 0 0 0;*/
    }

    .light {
        font-weight: 200;
        color: var(--COLOR-TEXT)
    }

    .orange {
        font-weight: 400;
        color: var(--COLOR-ORANGE);
    }

    .red {
        color: var(--COLOR-BUTTON_CLICKED);
    }

    .item_container {
        display: grid;
        gap: 1.5rem;
        /*min-width: 250px;*/
        /*width: clamp(250px, 70%, 1200px);*/
        min-width: 250px;
    }

    .item {
        .image_container img {
            border-radius: var(--RADIUS-CARD);

            &:hover {
                outline: 2px solid var(--COLOR-ORANGE);
            }
        }
    }

    article > figure {
        position: relative;
    }

    article > figure::before {
        /*This creates a cutout of the button directly underneath the button
        Thus any button transitions will briefly leave a empty background slot for the
        for a cleaner look*/
        content: "";
        position: absolute;
        height: var(--HEIGHT-BUTTON);
        left: 50%;
        top: 100%;
        width: var(--WIDTH-ADD-TO-CART);
        transform: translate(-50%, -50%);
        border-radius: var(--RADIUS-BUTTON);
        background-color: var(--COLOR-BACKGROUND);
    }

    .add_to_cart {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        border-radius: var(--RADIUS-BUTTON);
        padding: 12px 10px;
        /*width: min(50%, 300px) ;*/
        /*width: clamp(50%, 300px) ;*/
        /*width: 150px;*/
        width: var(--WIDTH-ADD-TO-CART);
        height: var(--HEIGHT-BUTTON);
        gap: 20px;
        transform: translateY(-50%);
        margin: 0 auto;
        background-color: white;
        img {
            width: 20px;
            object-position: center;
        }
        span {
            align-self: center;
        }
        &:hover {

        }
    }

    .add_to_cart.red {
        color: white;
        background-color: var(--COLOR-BUTTON_CLICKED);
        justify-content: space-between;

        figure {
            padding: 10%;
            width: var(--WIDTH-ADD-TO-CART);
            height: var(--HEIGHT-BUTTON);
            border-radius: 50%;
            .circle {
                display: flex;
                justify-content: center;
                padding: 7px;
                align-items: center;
                width: 10px;
                border: 1px solid white;
                height: 10px;
                border-radius: 50%;
            }

            img {
                padding: 4px;
            }
        }

    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.15s ease-in;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }


    /*--------------------------------*/
    /*https://www.youtube.com/watch?v=axqkKVcvgpg&t=304s*/
    .test_transition {
        color: black;
    }
    .list-move,
    .list-enter-active, .list-leave-active {
        transition: all 0.5s ease;
        /*color: black;*/
    }


    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-30px);
    }
    .list-leave-active {
        position: absolute;
     /*transition: transform 0.5s;*/
    }
    /*--------------------------------*/
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        /*visibility: hidden;*/
        /*opacity: 0;*/
        /*transition: opacity 0.4s ease, visibility 0.4s ease;*/
    }

}
@layer checkout_modal {
    .modal {
        display: grid;
        border: 1px solid #6f6f6f;
        border-radius: 0.4rem;
        background-color: white;
        box-shadow: 0 0 4px #e9e1f8;
        z-index: 1;
        gap: 1rem;
        padding: 2rem;
        /*> * {*/
        /*    outline: 2px solid black;*/
        /*}*/
    }

    .check_container {
        max-height: 100px;
        .check_img {
            width: 3rem;
        }
    }
    .confirmed_label{
        color: var(--COLOR-TEXT);
    }
    .order_container{
       display: flex;
        padding: 0;
       justify-content: space-between;
    }
    .confirmed_order {

        background-color: var(--COLOR-BACKGROUND);
        color: var(--COLOR-TEXT);
        padding: 0 1rem 1rem 1rem;
        border-radius: var(--RADIUS-CARD);
    }
    .left_side {
        display: flex;
        gap: 2rem;
        .thumbnail {
            max-width: 50px;
        }
    }
}

@layer cart {
    .cart_container {
        border-radius: var(--RADIUS-CARD);
        background-color: white;
        color: black;
        padding: 2rem;
        width: max(350px, 100%);
        height: fit-content;
        gap: 1rem;

    }

    .order_container {
        display: flex;
        padding: 1.2rem 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }


    .right_side.close {
        align-self: center;
        width: 1rem;
        height: 1rem;
        border: 1px solid grey;
        border-radius: 50%;
        &:hover {
            transform: scale(1.2);
        }
    }

    .order_item {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .amount_container{
        display: flex;
        gap: 2rem;
    }

    .prices {
        display: flex;
        gap: 1rem;
    }

    .amount_container .red {
        color: var(--COLOR-BUTTON_CLICKED);
    }

    hr {
        flex: 0 0 100%;
        font-weight: 100;
        background-color: var(--COLOR-GREY);
    }

    .total_container {
        display: flex;
        justify-content: space-between;
        /*border: 2px solid black;*/
        span {
            align-self: center;
        }
        .total_cart {
            font-weight: 700;
            font-size: 2rem;
        }

    }

    .eco_label {
        display: flex;
        padding: 1.5rem;
        background-color: var(--COLOR-BACKGROUND);
        border-radius: 5px;
        margin: 2rem 0;
        span {
            font-weight: 700;
        }
    }

    .confirm {
        border-radius: var(--RADIUS-BUTTON);
        background-color: var(--COLOR-BUTTON_CLICKED);
        color: white;
        height: var(--HEIGHT-BUTTON);
        width: 100%;
    }
}

@media (min-width: 600px){
    .empty {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) {
    .container_main {
        display: grid;
        grid-template-columns: 2.5fr 1fr;

    }
    .item_container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

}
